.container {
  align-items: center;
  display: flex;
  justify-content: center;
}
.card-body {
  background-image: url(../images/background-pattern-desktop.svg);
  background-size: cover;
}
.card {
  max-width: 700px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 25px;
  border-radius: 20px;
}
.card-header > h1 {
  display: flex;
  align-items: center;
}
.card-question > h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  font-size: 1.2rem;
  gap: 20px;
}
.card-question > h3 > img {
  width: 30px;
  cursor: pointer;
}
